@use './../abstract' as *

* 
  box-sizing: border-box

:root 
  font-family: 'Outfit'
  font-weight: 400
  color: $wenge-brown

p
  line-height: 1.5rem

h1, h2, h3, h4, h5, h6
  font-family: 'Young Serif'
  color: $nutmeg

ul, ol
  margin-block-start: .7rem

li
  list-style-position: outside
  padding-inline-start: 1rem
  margin-inline-start: 1.5rem
  line-height: 2rem  

// li:not(:last-child)

li::marker
  display: block
  color: $nutmeg
  padding-inline-end: 1rem
  font-size: .75rem
  
.color-nutmeg
  color: $nutmeg

.color-raspberry
  color: $raspberry-dark

.font-outfit
  font-family: 'Outfit'

.font-young
  font-family: 'Young Serif'

.list-style-disc
  list-style: disc

.list-style-number
  list-style: decimal


li > span
  font-weight: 700 

section 
  margin-block: 2rem

@for $size from 1 through 9
  .weight-#{$size}00
    font-weight: #{$size}00

$baseSize: 3
@for $headingNumber from 1 through 6
  h#{$headingNumber}
    font-size: #{$baseSize - calc(($headingNumber/2))}rem