@use './../abstract' as *

.preparation
  background-color: $raspberry-dark-20
  border-radius: 1rem
  padding: 1.5rem

  isolation: isolate

  &__heading
    margin-block-start: 0

  &__list
    &-item::marker
      color: $raspberry-dark
